.navigation {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  nav {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .nav-link {
    color: white;
  }
  .navbar-brand img {
    max-width: 80px;
  }
  .navbar-toggler {
    border-color: transparent !important;
  }
  .ham-menu {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }