
    <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img
            src="http://www.demoschool.in/system/institutions/logos/27/original/MYDEMO_EGPRNTONL.png?1458729092"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-hamburger-icon">
            <span class="ham-menu"></span>
            <span class="ham-menu"></span>
            <span class="ham-menu"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#"
                >HOME <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" routerLink="./aboutus">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"  routerLink="./admission">ADMISSION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"  routerLink="./classes">CLASSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" routerLink="./news-event">NEWS & EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" routerLink="./result">RESULTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"   routerLink="./contactus">CONTACT US</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
