.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
    opacity: 0.7;
  }
  .carousel-item img {
    width: 100%;
  }
  .carousel-inner {
    max-height: 100vh;
  }
  