.navigation {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}
nav {
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-link {
  color: white;
}
.navbar-brand img {
  max-width: 80px;
}
.navbar-toggler {
  border-color: transparent !important;
}
.ham-menu {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.carousel-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  opacity: 0.7;
}
.carousel-item img {
  width: 100%;
}
.carousel-inner {
  max-height: 100vh;
}
